.rodape {
    position: fixed;
    bottom: 0;
    /* width: 100%; */
    background: var(--cor-background-secundaria);
    box-shadow: 0px -4px 8px 0px #0000000F;
    border-radius: 1rem 1rem 0 0;

}

.rodape__lista {
    margin: 0;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.lista-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    color: var(--cor-secundaria);
}

.lista-item:first-child {
    color: var(--cor-botao-endereco);
}

.lista-imagem-consulta {
    margin-bottom: 0.5rem;
}

.lista-imagem {
    margin-bottom: 0.5rem;
    opacity: 30%;
}

.rodape-botao {
    width: 56px;
    height: 56px;
    position: fixed;
    right: 3%;
    text-align: center;
    border-radius: 50%;
    border: none;
    background-color: var(--cor-botao-endereco);
    box-shadow: 0px 4px 16px 0px #4894FF80;
}

.botoes-escondidos, .container__botao {
    display: none;
}

.mais {
    bottom: 10%;
    background-image: url('../assets/icone-mais.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.container__botao:checked~.botoes-escondidos {
    display: block;
    
}

.remoto {
    bottom: 17%;
}

.local {
    bottom: 24%;
}

.botao-adicional {
    position: fixed;
    right: 140px;
    background-color: var(--cor-background-secundaria);
    border-radius: 1rem;
    border: none;
    padding: 2px 8px;
    font-family: var(--font-principal);
    font-size: 1rem;
    font-weight: 500;
    color: var(--cor-primaria);

}

.adicional-local {
    bottom: 26%;
}

.adicional-remoto {
    bottom: 19%;
}

.overlay {
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  .container__botao:checked~.overlay {
    display: block;
  }

  .container__botao:checked~.mais {
    z-index: 2;
  }

@media screen and (min-width: 768px) {
    .rodape__lista {
        justify-content: center;
        gap: 2rem;
    }
}

@media screen and (min-width: 1440px) {
    .rodape {
        position: inherit;
        margin: 0 0 10px 260px;
        box-shadow: none;
        border-radius: none;
    }
    
    .rodape__lista {
        display: none;
    }

    .rodape-botao {
        display: none;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    #nome {
        padding: 1rem 1rem;
        width: 240px;
        font-family: var(--font-principal);
        font-size: 1.25rem;
        color: var();
        text-align: center;
        border-radius: 8px;
        border: 1px solid #ECECEC;
        text-decoration: none;
    }

    #nome::placeholder {
        font-size: 1.25rem;
        text-align: center;
        color: #CFCFCF;
    }

    #nome:focus {
        outline: none;
        border: 2px solid #4894FF;
    }

    #nome:invalid {
        outline: none;
        border: 2px solid #FF0000;
    }

    #mensagem-erro {
        display: none;
        text-align: center;
        color: #FF0000;
        font-size: 1rem;
    }

    #nome:invalid~#mensagem-erro {
        display: block;
    }

    #nome:disabled {
        background-color: #ECECEC;
    }
}